<h1 class="recover-title">Enter a new password</h1>

<div class="row container">
    <form class="col s12" id="new-password-form">
        <input id="password-input" type="password" class="validate" name="password">
        <label for="password">New password</label>
        <input type="text" name="token" value={{token}} readonly hidden>
        <span class="helper-text" data-error="Introduce a valid password" data-success="right"></span>
        <input class="waves-effect waves-light btn-small recover-submit" type="submit" value="Send new password">
    </form>
</div>


<script src="/statics/js/newPasswordForm.js"></script>